body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  text-align: center;
}

#error main {
  max-width: 40rem;
  margin: 7rem auto;
  padding: 1rem;
  background-color: #f4c7c7;
  color: #3e0505;
  border-radius: 10px;
}
#error main .errMsg {
  color: #3e0505 !important;
}
