#homePageDestination {
	position: relative;
	overflow: hidden;
}
#homePageDestination h1{
	margin: 3% 0;
	text-align: center;
	font-size: 50px;
	font-weight: 100;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
	#homePageDestination h1 {
		font-size: 35px;
	}
}
@media only screen and (max-width: 374px) {
	#homePageDestination h1 {
		font-size: 30px;
	}
}
#homePageDestination h1 span{
	font-weight: 700;
	display: inline;
	text-align: center;
}
#homePageDestination .card-container {
	justify-content: space-between;
}
@media only screen and (min-width: 2560px) {
	#homePageDestination .card-container {
		margin: 0 24%;
	}
}
@media only screen and (min-width: 1440px) and (max-width: 2559px) {
	#homePageDestination .card-container {
		margin: 0 15%;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1439) {
	#homePageDestination .card-container {
		margin: 0 5rem;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
	#homePageDestination .card-container {
		margin: 0 1rem;
	}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	#homePageDestination .card-container {
		margin: 0 3rem;
	}
}
@media screen and (max-width: 767px) {
	#homePageDestination .card-container {
		justify-content: center;
	}
}
#homePageDestination .service-1-box {
	overflow: hidden;
	cursor: pointer;
	padding-right: 2px !important;
	-webkit-animation: zoomIn 1s forwards;
	animation: zoomIn 1s forwards;
	animation-delay: 0s;
	visibility: visible;
	width: 100%;
}
@keyframes zoomIn {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
	#homePageDestination .service-1-box {
		width: 24%;
	}
}
@media screen and (max-width: 1023px) {
	#homePageDestination .service-1-box {
		margin-bottom: 2rem;
	}
}
@media only screen and (max-width: 374px) {
	#homePageDestination .service-1-box {
		width: 90%;
	}
}
#homePageDestination .service-1-box:active{
    transform: translateY(20px);
}
#homePageDestination .service-1-box:hover .heading{
	color: #f41844;
}
#homePageDestination .service-1-image-overlay{
	position: relative;
	overflow: hidden;
}
#homePageDestination .service-1-image-overlay img {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	width: 100%;
	display: block;
	transition: all .5s linear;
}
@media only screen and (min-width: 2560px) {
	#homePageDestination .card-container {
		height: 45vh;
	}
}
@media only screen and (min-width: 1440px) and (max-width: 2559px) {
	#homePageDestination .service-1-image-overlay img {
		height: 45vh;
	}
}
@media only screen and (min-width: 320px){
	#homePageDestination .service-1-image-overlay img {
		height: 40vh;
	}
}
#homePageDestination .service-1-box:hover .service-1-image-overlay img {
	transform: scale(1.2);
}
#homePageDestination .service-1-overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: #f41844;
	overflow: hidden;
	width: 100%;
	height:0;
	transition: .9s ease;
	opacity: 0.4;
}
#homePageDestination .service-1-box:hover .service-1-overlay {
	bottom: 0;
	height: 100%;
}
#homePageDestination .service-1-area-btn {
	display: flex;
	margin: 6rem auto;
	background-color: #f41844;
	width: auto;
    padding: 1.5% 4%;
	cursor: pointer;
	text-align: center;
	color: white;
	font-size: 17px;
	font-weight: 700;
	border: none;
	text-decoration: none;
	box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2), 0 0px 18px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (min-width: 2560px) {
	#homePageDestination .service-1-area-btn {
		padding: 1.2% 3%;
	}
}
@media screen and (min-width: 1440) and (max-width: 2560px) {
	#homePageDestination .service-1-area-btn {
		margin: 4rem auto;
		padding: 1.5% 5%;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
	#homePageDestination .service-1-area-btn {
		margin: 4rem auto;
		padding: 2.5% 5%;
	}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	#homePageDestination .service-1-area-btn {
		margin: 2rem auto;
		padding: 3% 4%;
	}
}
@media screen and (min-width: 425px) and (max-width: 767px) {
	#homePageDestination .service-1-area-btn {
		margin: 1rem auto;
		padding: 5%;
		font-size: 15px;
	}
}
@media screen and (min-width: 375px) and (max-width: 424px) {
	#homePageDestination .service-1-area-btn {
		margin: 1rem auto;
		padding: 5%;
		font-size: 14px;
	}
}
@media screen and (min-width: 320px) and (max-width: 374px) {
	#homePageDestination .service-1-area-btn {
		margin: 1rem auto;
		padding: 5%;
		font-size: 11px;
	}
}
@media only screen and (max-width: 319px) {
	#homePageDestination .service-1-area-btn {
		margin: 1rem auto;
		padding: 5%;
		font-size: 11px;
	}
}
#homePageDestination .service-1-area-btn-light:hover {
	color: #f41844;
	cursor: pointer;
	animation: halftone 1s forwards;
	background: radial-gradient(circle, #000 0.2em, transparent 0.25em) 0 0/1.25em 1.25em,
	radial-gradient(circle, #000 0.2em, transparent 0.25em) 6.25em 6.25em/1.25em 1.25em;
}
#homePageDestination .service-1-area-btn-dark:hover {
	color: #f41844;
	cursor: pointer;
	animation: halftone 1s forwards;
	background: radial-gradient(circle, #fff 0.2em, transparent 0.25em) 0 0/1.25em 1.25em,
	radial-gradient(circle, #fff 0.2em, transparent 0.25em) 6.25em 6.25em/1.25em 1.25em;
}
@-webkit-keyframes halftone {
	100% {
		background-size: 2.375em 2.375em, 0.1em 0.1em;
	}
}
@keyframes halftone {
	100% {
		background-size: 2.375em 2.375em, 0.1em 0.1em;
	}
}
#homePageDestination .service-1-area-btn:active {
	transform: translateY(4px);
}