#contactUsHeader{
    position: relative;
    overflow: visible;
    background-image: url('../../../../images/Contact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 22%;
}
#contactUsHeader .bottom-header{
	position: absolute;
	overflow: visible;
	background: transparent;
	width: 100%;
}
#contactUsHeader .bottom-header h1{
	color: #000;
	margin-top: 8.5%;
	text-align: center;
	text-shadow: 0em 0em 0.4em rgba(255,255,255,0.6);
	-webkit-animation: zoomIn 1s forwards;
	animation: zoomIn 1s forwards;
    animation-delay: 0s;
	visibility: visible;
}
@keyframes zoomIn {
	from {
	    transform: scale(0);
	}
	
	to {
	    transform: scale(1);
	}
}
#bottom-header .active_contact_us {
	color: #f41844;
    border: 2px solid;
    border-radius: 5px;
}