#top-header{
	position: relative;
	overflow: hidden;
}
#top-header .mailNum:hover{
	color:#f41844;
}
#top-header .header-btn{
	background-color:#f41844;
	color: #fff;
	box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2), 0 0px 18px 0 rgba(0, 0, 0, 0.19);
}
#top-header .header-btn-light:hover {
    color: #f41844;
	-webkit-animation: halftone 1s forwards;
            animation: halftone 1s forwards;
    background: radial-gradient(circle, #000 0.2em, transparent 0.25em) 0 0/1.25em 1.25em,
    radial-gradient(circle, #000 0.2em, transparent 0.25em) 6.25em 6.25em/1.25em 1.25em;
}
#top-header .header-btn-dark:hover {
    color: #f41844;
	-webkit-animation: halftone 1s forwards;
            animation: halftone 1s forwards;
    background: radial-gradient(circle, #fff 0.2em, transparent 0.25em) 0 0/1.25em 1.25em,
    radial-gradient(circle, #fff 0.2em, transparent 0.25em) 6.25em 6.25em/1.25em 1.25em;
}
@-webkit-keyframes halftone {
    100% {
        background-size: 2.375em 2.375em, 0.1em 0.1em;
    }
}
@keyframes halftone {
    100% {
        background-size: 2.375em 2.375em, 0.1em 0.1em;
    }
}
#top-header .header-btn:active{
	transform: translateY(1px);
}