#inner-page{
	position:relative;
	overflow: visible;
}
#inner-page .inner-area{
    margin: 0 2em;
    border-radius: 10px;
	padding: 2rem 0;
    position: relative;
    top: -4em;
}
#inner-page .destination{
	width: 18rem;
    box-shadow: 0.4px 0px 0px 0px #a0a0a0, 0px 0.4px 0px 0px #a0a0a0;
	overflow: hidden;
	-webkit-animation: zoomIn 1s forwards;
	animation: zoomIn 1s forwards;
    animation-delay: 0s;
}
@keyframes zoomIn {
	from {
	    transform: scale(0);
	}
	
	to {
	    transform: scale(1);
	}
}
#inner-page .desti-img-overlay{
    position: relative;
    width: 100%;
	overflow: hidden;
}
#inner-page .desti-img-overlay img{
    height: 270px;
	width: 100%;
    display: block;
	transition: all .5s linear;
}
#inner-page .destination:hover .desti-img-overlay img {
    transform: scale(1.1);
}
#inner-page .desti-overlay{
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #f41844;
	overflow: hidden;
    width: 100%;
    height:0;
    transition: .9s ease;
    opacity: 0.4;
}
#inner-page .destination:hover .desti-overlay {
    bottom: 0;
    height: 100%;
	transform: scale(1.1);
}
#inner-page .destination p{
    font-size: 14px;
	color: #a0a0a0;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
			line-clamp: 3;
	-webkit-box-orient: vertical;
	margin: 0;
}
#inner-page .service-btn{
    background-color: #f41844;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
#inner-page .service-btn-light:hover{
    -webkit-animation: halftone 1s forwards;
            animation: halftone 1s forwards;
    background: radial-gradient(circle, #000 0.2em, transparent 0.25em) 0 0/1.25em 1.25em,
    radial-gradient(circle, #000 0.2em, transparent 0.25em) 6.25em 6.25em/1.25em 1.25em;
}
#inner-page .service-btn-dark:hover{
	font-weight: 600;
	color: #000;
    -webkit-animation: halftone 1s forwards;
            animation: halftone 1s forwards;
    background: radial-gradient(circle, #fff 0.2em, transparent 0.25em) 0 0/1.25em 1.25em,
    radial-gradient(circle, #fff 0.2em, transparent 0.25em) 6.25em 6.25em/1.25em 1.25em;
}
@-webkit-keyframes halftone {
    100% {
        background-size: 2.375em 2.375em, 0.1em 0.1em;
    }
}
@keyframes halftone {
    100% {
        background-size: 2.375em 2.375em, 0.1em 0.1em;
    }
}
#inner-page .service-btn:active{
	transform: translateY(4px);
}