#packageDetailsPage .inner-box-2{
	-webkit-animation: bounceInUp 1s forwards;
	animation: bounceInUp 1s both;
	animation-delay: 0s;
	visibility: visible;
	margin-top: 30%;
}
@keyframes bounceInUp {
	0% {
		opacity: 0;
		transform: translateY(200px);
	}
	
	20% {
		transform: translateY(-20px);
	}
	
	40% {
		transform: translateY(10px);
	}
	
	60% {
		transform: translateY(-5px);
	}
	
	80% {
		transform: translateY(2px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
#packageDetailsPage ul {
	border: 1px solid;
	border-radius: 10px;
	overflow: hidden;
    width: 100%;
	padding: 0;
}
#packageDetailsPage .inner-box-2 li{
	list-style-type: none;
	border: 1px solid;
	padding: 6%;
}
#packageDetailsPage .lightBorder {
    border-color: darkslategray;
}
#packageDetailsPage .darkBorder {
    border-color: #c1babe;
}